---
import Base from '../layouts/Base.astro';
import { LoginView } from '@components/presentational';
---

<Base title="Sistema Policlínico — Astro">
  <h1>Demo — Página de inicio con Astro + React</h1>
  <LoginView client:load />
</Base>
